body {
  background-color: darkolivegreen;
  color: darkgray;
  font-family: sans-serif;
}

select {
    background-color: black  ;
    color: lightgreen
}

.page {
    display: flex;
}

.column {
    width: 50%;
    height: 100%;
}

.monaco-container {
    /*width: 500px;*/
    height: 400px;
    border: 1px solid #ccc;
}

.monaco-container .monaco-editor .cursors-layer > .cursor {
    background-color: red;
}
