body {
  background-color: darkolivegreen;
  color: darkgray;
  font-family: sans-serif;
  margin: 0;
}

select {
    background-color: black  ;
    color: lightgreen
}

.page {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.header {
    width: 80%;
    align-self: center;
}

.footer {
    width: 80%;
    align-self: center;
    margin: 13px
}

.content {
    display: flex;
    flex-grow: 1;
}

.column {
    width: 50%;
}

.monaco-container {
    height: 80%;
    border: 1px solid #ccc;
    margin: 0
}

.monaco-container .monaco-editor .cursors-layer > .cursor {
    background-color: red;
}
